.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 90%;
  flex: 1 1 auto;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
