.editor-view {
  position: relative;
}

.editor-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.save-drawing-confirmation {
  position: absolute;
  z-index: 1;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
}

.save-drawing-confirmation button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.2rem;
}
