.documents {
  display: flex;
  flex-direction: column;
}

.document-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.document-container:not(:last-child) {
  margin-bottom: 1rem;
}
