.documents {
  display: flex;
  flex-direction: column;
}

.documentContainer {
  flex: 1 1 auto;
  display: flex;
}

.document {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.pageControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.1rem;
  background: #e3e3e3;
  /* .button {
    display: flex;
    justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 0.1rem;
    }
    i.fas {
      width: 14px;
      margin-right: 1rem;
    }
  } */
}
.pageControls .btn:not(:last-child) {
  margin-bottom: 0.1rem;
}

.loadDocHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
