.sidebar {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  background-color: white;
  border-top: 1px solid grey;

  display: flex;
}

.pdf-loader {
  flex: 1 1 auto;
}

.sidebar .pdf-loader .uppy-DragDrop-inner {
  display: flex;
  align-items: center;
}

.sidebar .pdf-loader .uppy-DragDrop-inner .uppy-DragDrop-arrow {
  margin-bottom: 0;
}

.sidebar .btn {
  flex: 1 1 auto;
}

.sidebar > .btn:not(:first-child) {
  margin-left: 0.3rem;
}

.sidebar .btn.compressed {
  flex: none;
}

.sidebar .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overrides */
.uppy-DragDrop-inner {
  padding: 0;
}
