body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.page-list {
  position: relative;
  width: 20vw;
  border: 1px solid #004684;
  padding: .5rem;
  display: inline-block;
}
.uppy-Dashboard-inner {
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}